<p>Logged in as <%= @user.name %></p>


<h1><%= @user.merchant.name %></h1>
<h2>Address:</h2>
<%= @user.merchant.address %><br>
<%= @user.merchant.city %><br>
<%= @user.merchant.state %><br>
<%= @user.merchant.zip %><br>
