<p><%= "Logged in as #{current_user.name}" %></p>


<%= link_to 'edit password', "/users/password/edit" %>

<p>Name: <%= @user.name %></p>
<p>Address: <%= @user.address %></p>
<p>City: <%= @user.city %></p>
<p>State: <%= @user.state %></p>
<p>Zip: <%= @user.zip %></p>

<%= link_to "Edit Profile", "/profile/edit" %>
