<p>Logged in as <%= current_user.name %></p>
<%= form_tag "/admin/dashboard", method: :get do %>
    <select name="status" id="status">
        <option value>select</option>
        <option value="0">pending</option>
        <option value="1">packaged</option>
        <option value="2">shipped</option>
        <option value="3">cancelled</option>
    </select>

<%= submit_tag "find" %>
<% end %>
<% @orders.each do |order| %>
    <div id="order-<%= order.id %>">
        <p>Order id: <%= order.id %></p>
        <p>Order status: <%= order.status %></p>
        <%= link_to "Client: #{order.user.name} ", "/admin/users/#{order.user.id}" %>
        <p>Order was made on: <%= order.created_at.in_time_zone("Mountain Time (US & Canada)").strftime("%B %d %Y") %> </p>
        <%= link_to "update to shipped", "/orders/#{order.id}", method: :patch if order.status == 'packaged'%>
    </div>
    <hr>
<% end %>

