<h1>Orders</h1>

<% @orders.each do |order| %>
  <p>Order number: <%= link_to order.id, "/orders/#{order.id}" %></p>
  <p>Order made on: <%= order.date_created %></p>
  <p>Last updated: <%= order.date_last_updated %></p>
  <p>Order Status: <%= order.status %></p>
  <p>Total item ordered: <%= order.total_quantity_of_items %></p>
  <p>Total: <%= number_to_currency(order.grandtotal) %></p><br><br>
<% end %>
